<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insurance Details</title>

    <link rel="stylesheet" href="/css/nav-bar.css">
    <link rel="stylesheet" href="/css/insurance/insurance.css">

    <script src="https://kit.fontawesome.com/1542790c88.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="nav-bar">
        <h1>INSURANCE</h1>

        <ul class="nav-list">
            <li><a href="/">HOME</a></li>
            <li><a href="/about">ABOUT</a></li>
            <li><a href="/contact">CONTACT US</a></li>
            <li><a href="/dashboard">DASHBOARD</a></li>
        </ul>
    </div>
    
    <div class="container">
        <% if (data.length > 0){ %>
            <h2>Insurances you own</h2>
            <table>
                <thead>
                    <tr>
                        <th> Type </th>
                        <th> Insurer </th>
                        <th> Starting Date</th>
                        <th> Ending Date</th>
                        <th> Contract Fee </th>
                        <th></td>
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                    <% for (let i = 0; i < data.length; i++){ %>
                        <tr>
                            <td><%= data[i].type %></td>
                            <td><%= data[i].insurer %></td>
                            <td><%= data[i].startingDate %></td>
                            <td><%= data[i].endingDate %></td>
                            <td>$<%= data[i].Fee_of_Contract %></td>
                            <td><a class="edit-dlt-btn" href="/insurance/edit/<%=data[i].type%>"><i class="fa fa-pencil"></i></a></td>
                            <td><a class="edit-dlt-btn" href="/insurance/delete/<%=data[i].type%>"><i class="fa-solid fa-trash"></i></a></td>
                        </tr>
                    <% } %>
                </tbody>
            </table>

            <form class="addBtn2" action="/addInsurance">
                <button type="submit"><i class="fa-solid fa-plus"></i></button>
            </form>

        <% } else{ %>

            <div class="empty-msg">
                <p id="p1">You have no insurance details added yet</p>
                
                <form class="addBtn1" action="/addInsurance">
                    <input type="submit" value="Add an insurance">
                </form>
                
                <p id="p2">Start adding your insurances today!</p>
            </div>
            
        <% } %>
    </div>

</body>

</html>