<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insurance Details</title>
    <style>
        table {
            border-collapse: collapse;
            font-family: Tahoma, Geneva, sans-serif;
            width: 100%;
        }

        table td {
            padding: 15px;
        }

        table thead td {
            background-color: #54585d;
            color: #ffffff;
            font-weight: bold;
            font-size: 13px;
            border: 1px solid #54585d;
        }

        table tbody td {
            color: #636363;
            border: 1px solid #dddfe1;
        }

        table tbody tr {
            background-color: #f9fafb;
        }

        table tbody tr:nth-child(odd) {
            background-color: #ffffff;
        }

        tr:nth-child(even) {
            background-color: rgba(201, 255, 201, 0.526);
        }
    </style>
</head>

<body>

    <form action="/addInsurance"><input type="submit" value="Insert new record"></form>

    <% if (insurances.length> 0){ %>
        <table>
            <thead>
                <tr>
                    <thead> Type </thead>
                    <thead> Insurer </thead>
                    <thead> Starting Date of the Plan </thead>
                    <thead> Ending Date of the Plan </thead>
                    <thead> Fee of Contract </thead>
                </tr>
            </thead>

            <tbody>
                <% insurances.map((insurance, index)=>{ %>
                    <tr>
                        <td>
                            <%=insurance.type%>
                        </td>
                        <td>
                            <%=insurance.insurer%>
                        </td>
                        <td>
                            <%=insurance.startingDate%>
                        </td>
                        <td>
                            <%=insurance.endingDate%>
                        </td>
                        <td>
                            <%=insurance.Fee_of_Contract%>
                        </td>
                        <td><a href="/insurance/edit/<%=insurance.type%>">🖊</a></td>
                        <td><a href="/insurance/delete/<%=insurance.type%>">🗑</a></td>
                    </tr>
                    <% }); %>
            </tbody>
        </table>

        <% } else{ %>
            <h3>No data available</h3>
            <% } %>

</body>

</html>