<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Liabilities</title>

    <link rel="stylesheet" href="/css/liability.css">

    <!-- for edit symbol -->
    <script src="https://kit.fontawesome.com/1542790c88.js" crossorigin="anonymous"></script>

</head>

<body>

    <div class="nav-bar">
        <h1>LIABILITIES</h1>

        <ul class="nav-list">
            <li><button id="homeBtn" class="nav-btn">HOME</button></li>
            <li><button id="aboutBtn" class="nav-btn">ABOUT</button></li>
            <li><button id="contactBtn" class="nav-btn">CONTACT US</button></li>
            <li><button id="dashboardBtn" class="nav-btn">DASHBOARD</button></li>
        </ul>
    </div>

    <div class="container-1 container">

        <div id="annualIn" class="item">
            Annual Income: <span><%= income_expense.annualIncome %></span> 
        </div>
        
        <div id="monthlyIn" class="item">
            Monthly Income: <span><%= income_expense.monthlyIncome %></span> 
        </div>

        <div id="annualEx" class="item">
            Annual Expenses: <span><%= income_expense.annualExpense %></span> 
        </div>

        <div id="monthlyEx" class="item">
            Monthly Expenses: <span><%= income_expense.monthlyExpense %></span> 
        </div>

    </div>

    <h2 class="container">LONG TERM LIABILITIES</h2>
    <div class="container">

        <table align="center">

            <thead>
                <tr>
                    <th scope="col"> Type </th>
                    <th scope="col"> Amount </th>
                    <th scope="col"> Interest </th>
                    <th scope="col"> Interest Rate </th>
                    <th scope="col"> Loan Term </th>
                    <th scope="col"></th>
                </tr>
            </thead>

            <tbody id="tableData">
                <% liabilities.forEach(function(liability){ %>

                    <tr>
                        <td><%= liability.type %></td>
                        <td><%= liability.amount %></td>
                        <td><%= liability.interest %></td>
                        <td><%= liability.rate %></td>
                        <td><%= liability.duration %></td>
                        <td><a id="<%= liability.type %>" class="edit-btn"><i class="fa fa-pencil"></i></a></td>
                    </tr>

                <% }); %>
            </tbody>
                
            <tfoot>
                <tr>
                    <td> Total </td>
                    <td id="totalAmount"><%=total_amount%></td>
                    <td id="totalInterest"><%=total_interest%></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tfoot>

        </table>

    </div>

    <div id="myModal" class="modal">
        <div id="formData" class="modal-content"></div>
    </div>
    
    <div id="alert-modal" class="modal">
        <div id="msg" class="modal-content"></div>
    </div>

    <footer>This is footer</footer>

    <script src="/js/liabilities.js"></script>
</body>

</html>