<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>
    <link rel="stylesheet" href="profile.css">
</head>
<body>
    <body>
        <nav>
            <ul >
                <li><a href="#">HOME</a></li>
                <li><a href="#">ABOUT</a></li>
                <li><a href="#">CONTACT US</a></li>
                <li><a href="#">DASHBOARD</a></li>
    
                <!-- <div class="sbtn">
                    <input type="text" name="search" placeholder="Search this website" id="search">
                </div> -->
            </ul>
    
            <h1 style="color:white; padding: 55px 30px;">PROFILE PAGE</h1>
        </nav>

    <div class="data">

        <h1 class="heading">USER DETAILS</h1>
        
    <% if( action == 'add') { %>

      <% } else { %>

        <div class="container">

            <%
                if(sampleData.length > 0)
                {
                    sampleData.forEach(function(data){
            %>

            <div class="item">USER-ID:</div>
    
            <div class="entry"><%=data.user_id %></div>
    
            <div class="item">FIRST NAME:</div>
    
            <div class="entry"><%=data.first_name %></div>
    
            <div class="item">LAST NAME:</div>
    
            <div class="entry"><%=data.last_name %></div>
    
            <div class="item">BIRTH PLACE:</div>
    
            <div class="entry"><%=data.birth_place %></div>
    
            <div class="item">DOB:</div>
    
            <div class="entry"><%=data.dob %></div>
    
            <div class="item">PROFESSION:</div>
    
            <div class="entry"><%=data.profession %></div>
    
            <div class="item">MOBILE NO:</div>
    
            <div class="entry"><%=data.mobile_no %></div>
    
            <div class="item">ADDRESS:</div>
    
            <div class="entry"><%=data.address %></div>
    
            <div class="item">INSTITUTE:</div>
    
            <div class="entry"><%=data.institute %></div>
    
            <div class="item">QUALIFICATION:</div>
    
            <div class="entry"><%=data.qualification %></div>
    
            <div class="item">COURSE:</div>
    
            <div class="entry"><%=data.course %></div>

            <div class="item">GRADE:</div>

            <div class="entry"><%=data.grade %></div>

            <%
                });
            }
            else
            {
            %>
            <tr>
                <td class="info" valign="top" align="left" colspan="5">No Data Found</td>
            </tr>
            <%
            }
            %>
        </div>
      <% } %>
    </div>
</body>
</html>